/* General styles */
body, html {
    margin: 0;
    padding: 0;
    background-color: #000; /* Dark background */
    font-family: 'Press Start 2P', cursive; /* Ensure you include or import the font */
}

header {
    background-color: #202040; /* Dark blue background */
    color: #ff4081; /* Neon pink text color */
    padding: 10px 5px; /* Reduced top and bottom padding */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Center the list */
}

nav ul li {
    display: inline;
    margin: 0 5px; /* Reduced space between buttons */
}

nav ul li a {
    color: #ff4081; /* Neon pink text color */
    text-decoration: none;
    background-color: #202040; /* Dark blue background */
    padding: 5px 10px; /* Adjusted padding for buttons */
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #ff4081; /* Neon pink background on hover */
    color: #202040; /* Dark blue text color on hover */
    transform: translateY(-2px); /* Slight raise effect */
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #ff4081; /* Neon pink background on hover */
    color: #202040; /* Dark blue text color on hover */
    transform: translateY(-2px); /* Slight raise effect */
}

#gallery, #map {
    width: 100%;
    height: 85vh; /* Adjusted height for header and navigation */
}

/* Gallery specific styles */
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Rounded corners for images */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    header nav ul li {
        display: block; /* Stack the menu items */
        margin: 5px auto; /* Adjust margin as needed */
    }

    header nav ul li a {
        display: block; /* Ensure links also take up full width */
        padding: 5px; /* Adjust padding for better touch targets */
        text-align: center; /* Center-align the text for aesthetics */
    }

    /* Adjust the header padding on smaller screens for better spacing */
    header {
        padding: 10px 0;
    }
    
    /* Optional: Adjust the font size for the site title and menu on smaller screens */
    header h1, header nav ul li a {
        font-size: 0.8rem; /* Adjust based on your preference */
    }
}
#transport-tracker {
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#transport-tracker h2 {
    font-family: 'Press Start 2P', cursive;
}

#transport-list li {
    font-family: Arial, sans-serif;
    list-style-type: none;
}
/* You might want to adjust the map and gallery height as well on smaller screens */
@media (max-width: 768px) {
    #map, #gallery {
        height: auto; /* Or set to a specific height that works better */
    }
}
